*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-image: linear-gradient(to right , rgba(196, 43, 43, 0.559),rgba(18, 63, 177, 0.532));
    background-size: cover;
}
.container{
    max-width:500px;
    margin: 200px auto;/*this will make item in the center */
    padding:20px;
    background-color:rgba(255, 255, 255, 0.282);
    border-radius: 10px;
    box-shadow:10px 10px 10px rgba(0, 0, 0, 0.468);
}
.container h1{
    text-align: center;
    margin: 20px auto;
}