*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-image: linear-gradient(rgba(247, 142, 113, 0.223),rgba(216, 139, 238, 0.108)),url(campus4.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    width: 100%;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}


.Navbar{
    display: flex;
    justify-content: space-between;
    background-color: #d5d0d0;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 30px;
    color: #000080;
    font-size: 15px;
}
.Navbar h1{
    margin-top: 10px;

}
.Navbar img{
    height: 80px;
}
.Navbar button{
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 20px;
    background-color: rgba(251, 255, 0, 0.605);
}
.Navbar a{
    text-decoration: none;
    color:rgba(18, 142, 220, 0.995);
    
}
form{
    
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 30px;
    background: rgba(220, 213, 240, 0.929);
    border-radius: 20px;
    height:300px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    position: absolute;
    width: 300px;
    margin-top: 30px;
    left: 75%;
    right: 30%;
    height: 300px;
    text-align: center;
  
}
form input{
    padding: 20px;
    margin: 10px;
    background: rgba(86, 135, 242, 0.526);
    border-radius: 20px;
    font-size: 20px;
    outline: none;
    border: none;
    align-items: center;
}
input[type="submit"]{
    background-color: black;
    color: #d5d0d0;
    cursor: pointer;
}


@media (max-width: 1120px) {
    
  
    form {
      width: 70%;  /* Make form full-width */
      position: static;  /* Remove absolute positioning */
      margin: 0 auto;  /* Center the form horizontally */
      height: auto;  /* Let content determine height */
      top: 0;  /* Reset top position */
    }
  
    form input{
      width: calc(90% - 20px);  /* Make inputs and select full-width */
      margin-bottom: 10px;  
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      width:90%;/* Add spacing between elements */
    }

    .Navbar button {
      display: block;  /* Stack button below links for narrower screens */
      margin-top: 10px;
          /* Add spacing between links and button */
    }
  }

  @media (max-width: 550px) {
    .Navbar{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
  }


  