body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background:linear-gradient(to right,rgba(9, 27, 166, 0.362),rgba(255, 0, 0, 0.548));
    
}
.todolist{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
}
#content{
    margin: 10px;
    font-size: 20px;
    border: 2px dashed whitesmoke;
    border-radius: 20px;
    padding: 40px;
    background: rgba(153, 70, 255, 0.504);
    cursor:text;
    color: white;
}
.btn {
    font-size: 20px;
    padding: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 10px;
    cursor: pointer;
}
.btn:hover{
    background-color: rgba(20, 194, 26, 0.589);
    border-radius: 10px;

}
.items li{
    background-color: aqua;
    padding: 20px;
    border-radius: 30px;
    margin: 10px;
    cursor: pointer;
    font-family: cursive;
}
ul{
    list-style: none;
    padding: 10px;
}
ul li::before {
    content: "\2735";  /* Unicode character for a circle bullet */
    color: rgb(255, 0, 60);         
    margin-right: 15px;
}    
  